p {
    @include font($body);

    color: var(--text-color);
    grid-column: span 12;

    @include breakpoint($tablet) {
        grid-column: span 8;
    }

    &.indent-block {
        padding-inline: var(--lateral-padding);
    }
}
