@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "generic";

/* ------------------------------------ *\
 * GENERIC TEMPLATE
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        padding-top: 100px;
    }
}
