@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "heading";

/* ------------------------------------ *\
 * SECTION HEADING ATOM
\* ------------------------------------ */

.#{$block} {
    @include e("main", "subheading") {
        display: block;
    }

    @include e("subheading") {
        @include font($subheading);

        margin-top: var(--dynamic-30);
        max-width: $max-width / 1.5;
    }

    @include e("separator") {
        padding-bottom: var(--dynamic-60);

        &:after {
            @include absolute();

            background: var(--brand-color);
            content: "";
            display: inline-block;
            height: 4px;
            left: 0;
            max-width: convert-rem(400px);
            width: 75%;
            bottom: 0;
        }

        // @include m("center") {
        //   &:after {
        //     left: 50%;
        //     transform: translateX(-50%);
        //   }
        // }
    }
}
