@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "heading";

/* ------------------------------------ *\
 * SECTION HEADING ATOM
\* ------------------------------------ */

.#{$block} {
  @include e("heading") {
    @include relative();

    width: 100%;
    text-align: center;

    @include m("2") {
      @include font($heading-200);
      margin-bottom: var(--dynamic-70);
    }

    @include m("3") {
      @include font($heading-300);
      margin-bottom: var(--dynamic-70);
    }

    @include m("4") {
      @include font($heading-400);
    }
  }

  @include e("main", "subheading") {
    display: block;
  }

  @include e("main") {
    margin-bottom: var(--dynamic-30);
  }

  @include e("subheading") {
    @include font($subheading);
  }

  @include e("separator") {
    padding-bottom: var(--dynamic-70);
    &:after {
      @include absolute();

      background: var(--brand-color);
      content: "";
      display: inline-block;
      height: 4px;
      max-width: convert-rem(400px);
      width: 75%;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }
}
