@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "link-icon";

/* ------------------------------------ *\
 * LINK ICON ATOM
\* ------------------------------------ */

.#{$block} {
  @include e("base") {
    font-size: 35px;

    @include breakpoint($desktop) {
      font-size: 55px;
    }

    &:hover {
      box-shadow: none;
    }

    @include m("footer") {
      font-size: 20px;
    }
  }
}
