@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "heading";

/* ------------------------------------ *\
 * LOGO ATOM
\* ------------------------------------ */

.#{$block} {
    @include e("base") {

        @include flex($direction: column, $cross: flex-start);



        &:hover  {
            box-shadow: none;
        }
    }

    @include e("main") {
        font-size: 20px;
        font-weight: font-weight(heavy);
        line-height: 24px;

        @include breakpoint($mobile) {
            font-size: 28px;
            line-height: 32px;
        }

        @include breakpoint($desktop){
            font-size: 36px;
            line-height: 40px;
        }
    }

    @include e("sub") {
        @include font($link-small)
    }
}
