@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "heading";

/* ------------------------------------ *\
 * LOGO ATOM
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        font-size: 26px;
        font-weight: font-weight(heavy);
        line-height: 26px;

        &:hover  {
            box-shadow: none;
        }
    }
}
