@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "paragraph";

/* ------------------------------------ *\
 * PARAGRAPH ATOM
\* ------------------------------------ */

.#{$block} {
  @include e("base") {
    @include font($body);

    color: var(--text-color);
    margin-top: $baseline * 2;
  }
}
