@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "pill";

/* ------------------------------------ *\
 * PILL ATOM
\* ------------------------------------ */

.#{$block} {
  @include e("base") {
    @include flex();

    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
    

    &:hover {
      background-color: var(--background-color);
    }

    a {
      @include font($link-small);
      padding: 4px 14px;

      &:hover {
        box-shadow: none;
      }
    }

  }
}
