@import '../../_00_abstracts/abstracts.scss';
$breakpoints: $column-grid-12;
$useModules: true;
$block: 'fieldset';

/* ------------------------------------ *\
 * FIELDSET ATOM
\* ------------------------------------ */

.#{$block} {
    @include e('base') {
        @include flex($direction: column, $cross: flex-start);

        padding: 0;

        > * + * {
            margin-block-start: var(--responsive-spacing-0);
        }
    }
}
