@import '../../_00_abstracts/abstracts.scss';
$breakpoints: $column-grid-12;
$useModules: true;
$block: 'cardList';

/* ------------------------------------ *\
 * CARD LIST MOLECULE
\* ------------------------------------ */

.#{$block} {
    @include e('base') {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: $grid-gutter;
        margin-inline: calc(var(--lateral-padding) * -1);
        margin-top: 0;

        @include breakpoint($tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @include e('listItem') {
        grid-column: span 1;
    }
}
