@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "navigationList";

/* ------------------------------------ *\
 * NAVIGATION LIST MOLECULE
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        @include m("siteNav") {
            @include flex($direction: column, $cross: flex-start);

            margin-top: var(--responsive-spacing--2);
            width: 100%;

            @include breakpoint($tablet) {
                margin-top: 0;
                flex-direction: row;
                gap: var(--responsive-spacing-2);
                width: auto;
            }
        }
    }
    @include e("listItem", "link") {
        display: block;
        width: 100%;
    }

    @include e("link") {
        padding: var(--responsive-spacing-0) 0;
        text-align: right;

        &:hover {
            box-shadow: none;
        }
    }

    @include e("listItem") {
        text-align: right;
    }
}
