@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "header";

/* ------------------------------------ *\
 * HEADER ORGANISM
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        @include fixed($top: 0, $left: 50%, $z-index: "header");
        @include flex($direction: column);

        transform: translateX(-50%);
        width: 100%;
        background-color: var(--background-color);
        padding: var(--static-spacing--2) 0;
        transition: padding 0.8s ease-in-out, background-color 0.8s ease-in-out, box-shadow 0.8s ease-in-out;
        box-shadow: 0px 16px 32px 0px #0000000d;

        @include breakpoint($tablet) {
            flex-direction: row;
        }

        @include m("shrink") {
            padding-top: var(--static-spacing--6);
            padding-bottom: var(--static-spacing--6);
        }
    }

    @include e("container") {
        @include flex($direction: row, $main: space-between);

        padding: var(--static-spacing--2) var(--lateral-padding);
        max-width: $max-width;
        width: 100%;
        flex-wrap: wrap;
  }

    @include e("navToggle") {
        height: 100%;
        position: relative;

        @include breakpoint($tablet) {
            display: none;
        }
    }
}
