@import '../../_00_abstracts/abstracts.scss';
$breakpoints: $column-grid-12;
$useModules: true;
$block: 'header';

/* ------------------------------------ *\
 * HEADER ORGANISM
\* ------------------------------------ */

.#{$block} {
  @include e('base') {
    @include fixed($top: 0, $left: 50%, $z-index: 'header');
    @include flex();

    transform: translateX(-50%);
    width: 100%;
    background-color: var(--background-color);
    padding: var(--static-spacing--2) var(--lateral-padding);
    transition: padding 0.8s ease-in-out, background-color 0.8s ease-in-out, box-shadow 0.8s ease-in-out;

    @include m('shrink') {
      padding-top: var(--static-spacing--3);
      padding-bottom: var(--static-spacing--3);
      background-color: var(--secondary-color);
      box-shadow: inset 0px -8px 16px 0px rgba(0, 0, 0, 0.1);
    }
  }

  @include e('container') {
    @include flex($direction: column);

    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
  }
}
