@import '../../_00_abstracts/abstracts.scss';
$breakpoints: $column-grid-12;
$useModules: true;
$block: 'heroBanner';

/* ------------------------------------ *\
 * HERO BANNER ORGANISM
\* ------------------------------------ */

.#{$block} {
  @include e('base') {
    @include flex($direction: column);

    width: 100vw;
    padding: var(--responsive-spacing-1) 0;
    transition: background-color 0.3s ease-in-out;
    --focus-background-color: var(--secondary-color);

    @include m("half") {
      background-color: var(--secondary-color);
      --focus-background-color: var(--background-color);
    }
  }

  @include e('container') {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
    padding-inline: var(--lateral-padding);
    row-gap: var(--responsive-spacing-2);
  }

  @include e('wrapper') {
    @include flex($direction: column, $cross: flex-start);

    grid-column: span 12;

    @include breakpoint($tablet) {
      grid-column: span 8;
    }

    > * + * {
      margin-top: var(--responsive-spacing-1);
    }
  }
}
