@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "main";

/* ------------------------------------ *\
 * MAIN ORGANISM
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        @include m("isLoading") {
            opacity: 0;
        }
    }

    @include e("container") {
        @include flex($direction: column);

        > * + * {
            padding-block-start: var(--responsive-spacing-3);
            padding-block-end: var(--responsive-spacing-1);

            > * {
                max-width: $max-width;
                margin-inline: auto;
            }
        }
    }
}
