@import '../../_00_abstracts/abstracts.scss';
$breakpoints: $column-grid-12;
$useModules: true;
$block: 'contentTeaserList';

/* ------------------------------------ *\
 * CONTENT TEASER LIST ORGANISM
\* ------------------------------------ */

.#{$block} {
  @include e('base') {
    @include flex($direction: column, $cross: flex-start);

    width: 100%;
    grid-column: span 12;
  }

  @include e('container') {
    width: 100%;
  }

  @include e('footer') {
    margin-top: var(--responsive-spacing-3);
  }
}
