@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "section";

/* ------------------------------------ *\
 * HERO BANNER ORGANISM
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        --tooltip-background-color: var(--secondary-color);
        width: 100%;
        opacity: 1;
        transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;

        @include m("inactive") {
            opacity: 0.1;
        }

        @include m("half") {
            --tooltip-background-color: var(--background-color);
            background-color: var(--secondary-color);
        }

        > * + * {
            margin-block-start: var(--responsive-spacing-1);
        }
    }

    @include e("header", "container") {
        @include flex($direction: column, $cross: flex-start);

        max-width: $max-width;
        padding-inline: var(--lateral-padding);
    }

    @include e("container") {
        > * {
            @include breakpoint($tablet) {
                padding-inline: var(--lateral-padding);
            }
        }
        
        > * + * {
            margin-block-start: var(--responsive-spacing-1);
        }
    }
}
