@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "tagPreview";

/* ------------------------------------ *\
 * TAG PREVIEW TEMPLATE
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        @include baseTemplate;
    }
}
