@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "pageNavigation";

/* ------------------------------------ *\
 * PAGE NAVIGATION ORGANISM
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        display: none;
        position: fixed;
        top: 75%;
        right: 0;
        transform: translateY(-50%);

        @include breakpoint($tablet) {
            display: block;
        }
    }

    @include e("container") {
        @include flex($direction: column);

        padding: var(--static-spacing-0);
        column-gap: var(--responsive-spacing--2);
        width: 100%;
        border-left: solid 2px black;
    }
}
