/* -------------------------------------------------------------------------
 * HEADINGS
 *
 * Define some minimal heading styles
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    @include relative();
    width: 100%;
    text-align: left;
}

h1 {
    @include font($heading-100);

    margin-bottom: ($baseline * 3.5);
}

h2 {
    @include font($heading-200);

    margin-bottom: ($baseline * 3);
}

h3 {
    @include font($heading-300);

    margin-bottom: ($baseline * 2.5);
}

h4 {
    @include font($heading-400);

    margin-bottom: ($baseline * 2);
}

h5 {
    @include font($heading-500);

    margin-bottom: ($baseline * 1.5);
}

h6 {
    @include font($heading-600);

    margin-bottom: ($baseline);
}
