@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "navigationList";

/* ------------------------------------ *\
 * NAVIGATION LIST MOLECULE
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        @include m("siteNav") {
            @include flex($direction: column, $cross: flex-start);

            margin-top: var(--dynamic-40);
            width: 100%;

            @include breakpoint($tablet) {
                margin-top: 0;
                flex-direction: row;
                gap: var(--dynamic-40);
                width: auto;
            }
        }

        @include m("pageNav") {
            @include flex($direction: column, $cross: flex-start);

            row-gap: var(--dynamic-40);
        }

        @include m("footerNav") {
        }
    }

    @include e("listItem") {
        display: block;
        width: 100%;
    }

    @include e("link") {
        width: 100%;
        padding: var(--dynamic-20) 0;
        display: block;

        &:hover {
            box-shadow: none;
        }
    }
}
