@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "pagination";

/* ------------------------------------ *\
 * PAGINATION MOLECULE
\* ------------------------------------ */

.#{$block} {
	@include e("base") {
		@include flex();
    width: 100%;
    padding-bottom: var(--responsive-spacing-20);
	}

  @include e("list") {
    @include flex();
    gap: var(--responsive-spacing-10);
  }

  @include e("listItem") {
  }

  @include e("link") {
    padding: var(--responsive-spacing-15);

    &:hover {
      box-shadow: none;
    }
  }
}
