@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "postCard";

/* ------------------------------------ *\
 * POST CARD MOLECULE
\* ------------------------------------ */

.#{$block} {
	@include e("base") {
		@include flex($direction: column, $cross: flex-start, $main: unset);

		padding: var(--responsive-spacing-15) var(--lateral-padding);
		transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
		height: 100%;
		margin-inline: calc(var(--lateral-padding) * -1);
		opacity: 1;


		&:hover {
			background-color: var(--secondary-color);
		}

		@include breakpoint($tablet) {
			margin-inline: 0;
		}

		@include m('inactive') {
			opacity: 0;
		}
	}

	@include e("cardLink") {
		height: 100%;

		&:hover,
		&:focus {
			box-shadow: none;
		}
	}

	@include e("footer") {
		@include flex($direction: column, $main: space-between, $cross: flex-start);

		margin-top: auto;
		padding-top: var(--responsive-spacing-15);
		column-gap: $grid-gutter;
		width: 100%;
	}
}
