@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "projectCard";

/* ------------------------------------ *\
 * PROJECT CARD MOLECULE
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        @include flex($direction: column, $cross: flex-start, $main: unset);

        padding: var(--lateral-padding);
        transition: background-color 0.3s ease-in-out;
        height: 100%;

        &:hover {
            background-color: var(--secondary-color);;
        }
    }

    @include e("footer") {
        @include flex($main: space-between);

        margin-top: auto;
        padding-top: var(--lateral-padding);
        column-gap: $grid-gutter;
    }
}
