@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "socialMediaList";

/* ------------------------------------ *\
 * SOCIAL MEDIA LIST MOLECULE
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        @include flex($cross: flex-end, $main: flex-start);

        column-gap: var(--responsive-spacing-20);
        align-self: flex-start;
        flex-wrap: wrap;
        margin-top: 0;
    }

    @include e("listItem") {
        a {
            &:hover,
            &:active,
            &:focus {
                box-shadow: none;
            }
        }
    }
}
