@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "tagList";

/* ------------------------------------ *\
 * TAG LIST MOLECULE
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        @include flex($main: flex-start);
        
        max-width: 100%;
        flex-wrap: wrap;
        gap: var(--dynamic-10);
        margin-top: var(--dynamic-20);
        margin-left: -14px;
    }

    @include e("listItem") {

    }
}
