@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "textArticle";

/* ------------------------------------ *\
 * TEXT ARTICLE MOLECULE
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        margin-top: var(--dynamic-50);

        @include breakpoint($tablet) {
            padding-inline: var(--lateral-padding);
        }
    }
}
