@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "contactSection";

/* ------------------------------------ *\
 * CONTACT SECTION ORGANISM
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        margin-top: var(--dynamic-70);

        @include breakpoint($tablet) {
            padding: 0 var(--lateral-padding) 0;
          }
    }
}
