@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "contactSection";

/* ------------------------------------ *\
 * CONTACT SECTION ORGANISM
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        padding: var(--dynamic-70) 0;

        @include breakpoint($tablet) {
            padding: var(--dynamic-70) var(--lateral-padding);
          }
    }
}
