@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "footer";

/* ------------------------------------ *\
 * FOOTER ORGANISM
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        @include flex($direction: column);
        width: 100vw;
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 0 auto;
        background-color: var(--secondary-color);
        gap: var(--dynamic-20);
    }

    @include e("container", "bottom") {
        @include flex($cross: flex-start, $direction: column);

        width: 100%;
        max-width: $max-width;
        padding-inline: var(--lateral-padding);

        @include breakpoint($tablet) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    @include e("bottom") {
        gap: var(--dynamic-10);
    }

    @include e("copyrightText") {
        @include font($body-small);
    }

    @include e("domainUrl") {
        @include font($link-small);
    }
}
