@import '../../_00_abstracts/abstracts.scss';
$breakpoints: $column-grid-12;
$useModules: true;
$block: 'header';

/* ------------------------------------ *\
 * HEADER ORGANISM
\* ------------------------------------ */

.#{$block} {
  @include e('base') {
    @include fixed($top: 0, $left: 50%, $z-index: 'header');
    @include flex();

    transform: translateX(-50%);
    width: 100%;
    background-color: var(--background-color);
    padding: var(--static-30) var(--lateral-padding);
    transition: padding 0.35s ease-in-out;

    @include m('shrink') {
      padding-top: var(--static-10);
      padding-bottom: var(--static-10);
    }
  }

  @include e('container') {
    @include flex($direction: column);

    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
  }
}
