@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "header";

/* ------------------------------------ *\
 * HEADER ORGANISM
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        max-width: $max-width;
        margin: 0 auto;
    }

    @include e("container") {
        @include flex($direction: column);
        min-height: 100px;
    }
}
