@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "main";

/* ------------------------------------ *\
 * MAIN ORGANISM
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        max-width: $max-width;
        margin: 0 auto;

        @include m("isLoading") {
            opacity: 0;
        }
    }

    @include e("container") {
        @include flex($direction: column);
    }
}
