@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "portfolioOverview";

/* ------------------------------------ *\
 * PORTFOLIO OVERVIEW ORGANISM
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        @include flex($direction: column, $cross: flex-start);

        width: 100%;        
    }

    @include e("container") {
        width: 100%;
        padding-bottom: var(--dynamic-30);
    }

    @include e("viewAllLink") {
        margin-inline: var(--lateral-padding);
    }
}
