
@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "postsOverview";

/* ------------------------------------ *\
 * POSTS OVERVIEW ORGANISM
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        @include flex($direction: column, $cross: flex-start);

        width: 100%;     
        @include breakpoint($tablet) {
            padding-inline: var(--lateral-padding);
        }   
    }

    @include e("container") {
        width: 100%;
        padding-bottom: 40px;
    }
}