
@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "projectsOverview";

/* ------------------------------------ *\
 * PROJECTS OVERVIEW ORGANISM
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        @include flex($direction: column, $cross: flex-start);

        width: 100%;
        margin-top: var(--dynamic-50);
    }

    @include e("container") {
        width: 100%;
    }

    @include  e("footer") {
        margin-top: var(--dynamic-50);
        padding-inline: var(--lateral-padding);
    }
}
