@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "section";

/* ------------------------------------ *\
 * HERO BANNER ORGANISM
\* ------------------------------------ */

.#{$block} {
	@include e("base") {
		width: 100%;
		margin-top: var(--dynamic-70);
		padding-inline: var(--lateral-padding);
		opacity: 1;
		transition: opacity 0.3s ease-in;

		@include breakpoint($tablet) {
			margin-top: var(--dynamic-70);
		}

		@include m("inactive") {
			opacity: 0;
		}
	}

	@include e("header", "container", "footer") {
		@include flex($direction: column, $cross: flex-start);
		max-width: $max-width;
	}
}
