@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "siteNavigation";

/* ------------------------------------ *\
 * SITE NAVIGATION ORGANISM
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        max-width: $max-width;
        width: 100%;
    }

    @include e("container") {
        @include flex($main: space-between);

        column-gap: var(--dynamic-20);
        width: 100%;
        flex-wrap: wrap;

        @include breakpoint($tablet) {
            flex-wrap: nowrap;
        }
    }

    @include e("controls") {
        @include flex($main: space-between);
        width: 100%;
        position: relative;
    }

    @include e("logoContainer", "navToggle") {
        @include flex();
        width: calc(50% - var(--static-30));

        @include breakpoint($tablet) {
            width: 100%;
            justify-content: flex-start;
        }
    }

    @include e("logoContainer") {
        justify-content: flex-start;
    }

    @include e("navToggle") {
        justify-content: flex-end;
        align-content: center;
        height: 100%;

        @include breakpoint($tablet) {
            display: none;
        }
    }

    @include e("navContent") {
        @include flex($main: flex-start);

        height: var(--nav-list-height);
        opacity: 0;
        overflow: hidden;
        width: 100%;
        transition: height 0.3s ease-in;

        @include m("isOpen") {
            height: var(--nav-list-height);
            opacity: 1;
        }

        @include breakpoint($tablet) {
            --nav-list-height: 100% !important;
            opacity: 1;
            max-height: 100%;
            margin-left: auto;
            justify-content: flex-end;
        }
    }
}
