@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "skillGallery";

/* ------------------------------------ *\
 * SKILL GALLERY ORGANISM
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--dynamic-30);

        @include breakpoint($tablet) {
            gap: var(--dynamic-50);
        };
    }

    @include e("container") {
        margin-top: var(--dynamic-70);
        grid-column: span 12;

        @include breakpoint($tablet) {
            grid-column: span 6;
        }
    }
}
