@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "skillList";

/* ------------------------------------ *\
 * SKILLS OVERVIEW ORGANISM
\* ------------------------------------ */

.#{$block} {
  @include e("base") {
    width: 100%;
    
    @include breakpoint($tablet) {
      padding-inline: var(--lateral-padding);
    }
  }
}
