/* ------------------------------------ *\
  #THEMES
\* ------------------------------------ */

:root {
  --text-color: #{get-color($c-dark, eerie-black)};
  --brand-color: #{get-color($c-gray, davys-grey)};
  --color-link: #{get-color($c-dark, eerie-black)};
  --color-link-hover: #{get-color($c-gray, ebony)};
  --background-color: #{get-color($c-light, ivory)};
  --text-code: #{$font-family-ubuntu};
  --secondary-color: #{get-color($c-gray, timberwolf)};

  --responsive-spacing-10: 5px;
  --responsive-spacing-20: 10px;
  --responsive-spacing-30: 15px;
  --responsive-spacing-40: 20px;
  --responsive-spacing-50: 25px;
  --responsive-spacing-60: 30px;
  --responsive-spacing-70: 35px;
  --responsive-spacing-80: 40px;
  --responsive-spacing-90: 50px;
  --responsive-spacing-100: 70px;
  --responsive-spacing-110: 90px;
  --static-spacing-0: 0;
  --static-spacing-10: 5px;
  --static-spacing-20: 10px;
  --static-spacing-30: 15px;
  --static-spacing-40: 20px;
  --static-spacing-50: 25px;
  --static-spacing-60: 30px;
  --static-spacing-70: 35px;
  --static-spacing-80: 40px;
  --static-spacing-90: 60px;
  --static-spacing-100: 80px;
  --static-spacing-110: 120px;

  --lateral-padding: 20px;
  --header-height-default: 80px;
  --header-height-scrolled: 60px;

  @include breakpoint($tablet) {
    --responsive-spacing-80: 45px;
    --responsive-spacing-90: 55px;
    --responsive-spacing-100: 80px;
    --responsive-spacing-110: 120px;

    --lateral-padding: 25px;
    --header-height-default: 100px;
    --header-height-scrolled: 70px;
  }

  @include breakpoint($desktop-xl) {
    --responsive-spacing-50: 30px;
    --responsive-spacing-60: 40px;
    --responsive-spacing-70: 50px;
    --responsive-spacing-80: 70px;
    --responsive-spacing-90: 80px;
    --responsive-spacing-100: 110px;
    --responsive-spacing-110: 150px;

    --lateral-padding: 30px;
  }
}
