/* ------------------------------------ *\
  #THEMES
\* ------------------------------------ */

:root {
  --text-color: #{get-color($c-dark, eerie-black)};
  --brand-color: #{get-color($c-gray, davys-grey)};
  --color-link: #{get-color($c-dark, eerie-black)};
  --color-link-hover: #{get-color($c-gray, ebony)};
  --background-color: #{get-color($c-light, ivory)};
  --text-code: #{$font-family-ubuntu};
  --secondary-color: #{get-color($c-gray, timberwolf)};

  --responsive-spacing-5: 5px;
  --responsive-spacing-10: 10px;
  --responsive-spacing-15: 15px;
  --responsive-spacing-20: 20px;
  --responsive-spacing-25: 25px;
  --responsive-spacing-30: 30px;
  --responsive-spacing-35: 35px;
  --responsive-spacing-40: 40px;
  --responsive-spacing-50: 50px;
  --responsive-spacing-70: 70px;
  --responsive-spacing-90: 90px;
  --responsive-spacing-100: 100px;
  --responsive-spacing-110: 110px;
  --responsive-spacing-120: 120px;
  --responsive-spacing-130: 130px;

  --static-spacing-5: 5px;
  --static-spacing-10: 10px;
  --static-spacing-15: 15px;
  --static-spacing-20: 20px;
  --static-spacing-25: 25px;
  --static-spacing-30: 30px;
  --static-spacing-35: 35px;
  --static-spacing-40: 40px;
  --static-spacing-60: 60px;
  --static-spacing-80: 80px;
  --static-spacing-90: 90px;
  --static-spacing-100: 100px;
  --static-spacing-110: 110px;
  --static-spacing-120: 120px;
  --static-spacing-130: 130px;

  --lateral-padding: 20px;
  --header-height-default: 80px;
  --header-height-scrolled: 60px;

  @include breakpoint($tablet) {
    --lateral-padding: 25px;

    --header-height-default: 100px;
    --header-height-scrolled: 70px;
  }

  @include breakpoint($desktop-xl) {
    --lateral-padding: 40px;
  }
}
