/* ------------------------------------ *\
  #THEMES
\* ------------------------------------ */

:root {
  --text-color: #{get-color($c-dark, eerie-black)};
  --brand-color: #{get-color($c-gray, davys-grey)};
  --color-link: #{get-color($c-dark, eerie-black)};
  --color-link-hover: #{get-color($c-gray, ebony)};
  --background-color: #{get-color($c-light, ivory)};
  --text-code: #{$font-family-ubuntu};
  --secondary-color: #{get-color($c-gray, timberwolf)};

  --dynamic-10: 5px;
  --dynamic-20: 10px;
  --dynamic-30: 15px;
  --dynamic-40: 20px;
  --dynamic-50: 25px;
  --dynamic-60: 30px;
  --dynamic-70: 35px;
  --dynamic-80: 40px;
  --dynamic-90: 50px;
  --dynamic-100: 70px;
  --dynamic-110: 90px;
  --static-0: 0;
  --static-10: 5px;
  --static-20: 10px;
  --static-30: 15px;
  --static-40: 20px;
  --static-50: 25px;
  --static-60: 30px;
  --static-70: 35px;
  --static-80: 40px;
  --static-90: 60px;
  --static-100: 80px;
  --static-110: 120px;

  --lateral-padding: 20px;
  --header-height-default: 80px;
  --header-height-scrolled: 60px;

  @include breakpoint($tablet) {
    --dynamic-80: 45px;
    --dynamic-90: 55px;
    --dynamic-100: 80px;
    --dynamic-110: 120px;

    --lateral-padding: 25px;
    --header-height-default: 100px;
    --header-height-scrolled: 70px;
  }

  @include breakpoint($desktop-xl) {
    --dynamic-50: 30px;
    --dynamic-60: 40px;
    --dynamic-70: 50px;
    --dynamic-80: 70px;
    --dynamic-90: 80px;
    --dynamic-100: 110px;
    --dynamic-110: 150px;

    --lateral-padding: 30px;
  }
}
