@import "../../_00_abstracts/abstracts.scss";
$breakpoints: $column-grid-12;
$useModules: true;
$block: "post";

/* ------------------------------------ *\
 * POST TEMPLATE
\* ------------------------------------ */

.#{$block} {
    @include e("base") {
        @include baseTemplate;
    }
}
